<div class="wrapper">
  <table>
    <tr *ngFor="let row of board.tiles;index as y;">
      <td *ngFor="let tile of row;index as x;"
          (click)="checkTile(tile)">  
        <div *ngIf="tile.status == TileType.FLAG">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M14.4,6L14,4H5V21H7V14H12.6L13,16H20V6H14.4Z" />
          </svg>
        </div>
  
        <div class="cover" *ngIf="tile.status == TileType.COVER">
  
        </div>
  
        <div class="uncover" *ngIf="tile.status == TileType.UNCOVER">
          {{tile.nearby}}
        </div>
      </td>
  
    </tr>
  </table>
</div>