td span {
  background-color: #c0c0c0;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

td span.cover {
  border: 0.2rem solid;
  border-color: #fff #808080 #808080 #fff;
}

td span.flag {
  color: red;
  border: 0.2rem solid;
  border-color: #fff #808080 #808080 #fff;
}

td span.uncover {
  border: 0.2rem solid;
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

td span.uncover.show-mine {
  border: 0.2rem solid;
  border-color: #c0c0c0;
}

table {
  border: 0.4rem solid;
  border-color: #808080 #fff #fff #808080;
  padding: 0.8rem;
  border-spacing: 0;
}

td {
  padding: 0;
}

.wrapper {
  padding: 0.8rem;
  margin: auto;
  float: left;
  background-color: #c0c0c0;
}

.header {
  padding: 0.8rem;
  margin: auto;
  background-color: #c0c0c0;
}

.zero {
  opacity: 0;
}

.one {
  color: #0100fe;
}

.two {
  color: #017f01;
}

.three {
  color: #fe0000;
}

.four {
  color: #010080;
}

.five {
  color: #810102;
}

.six {
  color: #008081;
}

.seven {
  color: black;
}

.eight {
  color: #808080;
}

.curr {
  color: red;
}
